<div class="w-full md:w-1/2 px-4 mb-10 text-center mx-auto">


    <div class="container">
        <h2
            class="leading-tight text-2xl tracking-tight sm:text-3xl sm:leading-tight md:text-4xl md:leading-tight font-medium text-primary text-center mb-10">
            About the Artist
        </h2>

        <p class="sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed text-gray-400 leading-relaxed">
            Jonezy Art is a self-taught artist from the Philippines. He too longs for the day he can
            escape the clutches of the Corporate World!
        </p>
        <h3
            class="leading-tight text-lg tracking-tight  sm:leading-tight md:text-lg md:leading-tight font-medium text-primary ">
            Lifelong Craftsman:</h3>

        <p class="sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed text-gray-400 leading-relaxed">
            He loves to experiment and building things - apps, games, art, and more! As an artist, he works in a variety
            of
            styles
            and continues to learn and push his skills to the edge.
        </p>



        <h3
            class="leading-tight text-lg tracking-tight  sm:leading-tight md:text-lg md:leading-tight font-medium text-primary ">
            Collector By Heart:</h3>

        <p class="sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed text-gray-400 leading-relaxed">
            Given the chance he will collect toys, cards, LEGO, books, and artworks to fill up his apartment.
            <br><br>He
            strives to create collectibles
            that
            he would like
            to
            collect himself.
        </p>


        <h3
            class="leading-tight text-lg tracking-tight  sm:leading-tight md:text-lg md:leading-tight font-medium text-primary ">
            Inspired By:</h3>

        <p class="sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed text-gray-400 leading-relaxed">
            Cartoon/anime, retro comics, toys, pop surrealism, lowbrow art, and more!
        </p>
    </div>



</div>