{{ if .Params.launchDate }}

<div class=" flex items-center justify-center mb-6">
    <div class="w-full ">
        <div class="text-lg md:text-xl text-center flex w-full items-center justify-center ">
            <div class="w-full mx-1 b-w  text-white rounded-lg">
                {{.Params.launchDateTitle }}
            </div>

        </div>
        <div class="text-2xl md:text-3xl text-center flex w-full items-center justify-center ">

            <div class="w-full mx-1 b-w text-primary rounded-lg">
                {{.Params.launchDate }}
            </div>
        </div>

        <div class="text-md md:text-lg text-center flex w-full items-center justify-center mb-6">
            <div class="w-full mx-1 b-w  text-white rounded-lg">
                <a class="text-primary"
                    href="https://www.timeanddate.com/worldclock/meetingdetails.html?year=2021&month=5&day=29&hour=16&min=0&sec=0&p1=145&p2=179&p3=137&p4=136&p5=16">Check
                    Local Date and Time Here</a>
            </div>
        </div>

        <div class="text-md md:text-lg text-center flex w-full items-center justify-center ">
            <div class="w-full mx-1 b-w  text-white rounded-lg">
                {{.Params.launchDatenote }}
            </div>

        </div>



    </div>

    <!-- <div class="w-full md:w-1/2">
        <div class="text-lg md:text-xl text-center flex w-full items-center justify-center ">
            <div class="w-full mx-1  b-w  text-white rounded-lg">
                {{.Params.date2Title }}
            </div>

        </div>
        <div class="text-2xl md:text-3xl text-center flex w-full items-center justify-center mb-6">

            <div class="w-full mx-1  b-w text-primary rounded-lg">
                {{.Params.date2 }}
            </div>
        </div>

    </div> -->
</div>

{{ end }}