<div class="container px-5 py-8 mx-auto my-6">


    <h2
        class="leading-tight text-2xl tracking-tight sm:text-3xl sm:leading-tight md:text-4xl md:leading-tight font-medium text-primary text-center mb-4">
        Sites and Services Used
    </h2>


    <p class="leading-tight text-lg tracking-tight sm:text-xl sm:leading-tight  mb-10 h-8 text-white text-center">
        Thank you to these wonderful sites and services. This project is possible because of them.
    </p>

    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 text-white mt-4">

        <!-- <a target="_blank" href="https://on.wax.io/wax-io/" class=" mx-auto px-5  md:w-1/4 sm:mb-1 mb-6 ">

            <div class=" h-64 overflow-hidden relative">
                <img alt="Wax" class="object-cover object-center " src="/images/wax/wax.png">
            </div>
        </a>-->


        <a target="_blank" href="https://wax.atomichub.io/" class=" mx-auto px-5  md:w-1/4 sm:mb-1 mb-6 ">
            <div class="text-center text-md text-gray-400 mb-4">
                Marketplace And NFT Creator
            </div>
            <div class="  overflow-hidden relative">
                <img alt="Wax" class="object-cover object-center " src="/images/wax/atomichub.png">
            </div>

        </a>


        <a target="_blank" href="https://neftyblocks.com/" class=" mx-auto px-5  md:w-1/4 sm:mb-1 mb-6 ">
            <div class="text-center text-md text-gray-400 mb-4">
                Packs, Blends and Preminted Drops
            </div>
            <div class="  overflow-hidden relative">
                <img alt="NeftyBlocks" class="object-cover object-center " src="/images/wax/nefty-blocks.png">
            </div>

        </a>


        <a target="_blank" href="https://bountyblok.io/" class=" mx-auto px-5  md:w-1/4 sm:mb-1 mb-6 ">
            <div class="text-center text-md text-gray-400 mb-4">
                Reward Airdrops
            </div>
            <div class="  overflow-hidden relative">
                <img alt="BountyBlok" class="object-cover object-center " src="/images/wax/bountyblok.png">
            </div>

        </a>




    </div>

</div>